@import "./../../scss/vars";

.title {
  max-width: 800px;
  margin: 0 auto 30px;

  color: $black;
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
}


@media (max-width: 768px) {
  .title{
    margin-bottom: 19px;

    font-size: 34px;
    line-height: 38px;
  }
}

@media (max-width: 420px) {
  .title{
    letter-spacing: 0.02em;
  }
}

@media (max-width: 359px) {
  .title{
    font-size: 30px;
  }
}
