@import "./../../../../scss/vars";

.name {
  max-width: 270px;
  margin-bottom: 14px;
  color: $white;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
}

.price {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@media (max-width: 1030px) {
  .name {
    max-width: 100%;
    margin-bottom: 13px;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 29px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .price {
    margin-bottom: 100%;

    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 500px) {
  .name {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.04em;
  }

  .price {
    margin-bottom: 172px;
  }
}
