@import "./../../scss/vars";

.header {
  position: relative;

  &__top.transparent {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    color: $black;

    background-color: rgba(#f3efe8, 60%);
    backdrop-filter: blur(27px);
  }

  &__top.transparent &-nav__item::after {
    background-color: $black;
  }

  &__top.transparent &__logo path {
    fill: $black;
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: linear-gradient(180deg, rgba(#000, 40%) 0%, rgba(#000, 0) 39.9%),
    linear-gradient(0deg, rgba(#000, 30%), rgba(#000, 30%));
}
