@import "./../../../scss/vars";

.list {
  display: flex;
  align-items: center;
}

.item + .item {
  margin-left: 36px;
}

.link {
  position: relative;

  transition: all 0.3s ease;
}

.link::after {
  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: $white;

  opacity: 0;

  transition: all 0.3s ease;

  content: "";
}

.link:hover::after {
  opacity: 1;
}

.link:active {
  color: $orange-200;
}

.link:active::after {
  background-color: $orange-200;
}

@media (max-width: 768px) {
  .item + .item {
    margin-left: 30px;
  }

  .link::after {
    display: none;
  }
  .link:active {
    color: $white;
  }
}

@media (max-width: 700px) {
  .history {
    .socials {
      display: none;
    }
  }
}
