.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 33px;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .row {
    margin-bottom: 30px;
  }
}
