@import "./../../scss/vars";

.button {
  margin-left: -20px;
  padding: 7px 21px 7px 20px;

  border-radius: 50px;

  transition: all 0.3s ease;
}

.button:hover {
  background-color: $green-400;
}

.button:active {
  background-color: $orange-200;
}

@media (max-width: 768px) {
  .button {
    background-color: unset;
  }

  .button {
    background-color: unset;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 16px;
    line-height: 23px;
  }
}
