@import "./../../scss/vars";

.label {
  position: relative;

  display: block;
  margin-right: 31px;
  padding-left: 37px;
  margin-bottom: 8px;

  color: $black;

  cursor: pointer;
}

.label::before {
  position: absolute;

  top: 1px;
  left: 0;

  width: 26px;
  height: 26px;

  border: 2px solid $black;
  border-radius: 50%;

  content: "";
}

.label::after {
  position: absolute;

  top: 8px;
  left: 7px;

  width: 12px;
  height: 12px;

  background-color: $black;
  border-radius: 50%;

  opacity: 0;

  transition: all 0.3s ease;

  content: "";
}

.input {
  position: absolute;
  z-index: -2;

  opacity: 0;
}

.input:checked + .label::after {
  opacity: 1;
}

@media (max-width: 600px) {
  .label {
    margin-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 23px;
  }

  .label::before {
    top: 2px;

    width: 20px;
    height: 20px;
  }

  .label::after {
    left: 6px;

    width: 8px;
    height: 8px;
  }
}
