.title {
  max-width: 768px;
  margin: 118px auto 51px;

  font-weight: 700;
  font-size: 96px;
  line-height: 105px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media (max-width: 910px) {
  .title {
    margin-top: 80px;

    font-size: 70px;
    line-height: 70px;
  }
}

@media (max-width: 700px) {
  .title {
    max-width: 450px;
    margin-top: 60px;

    font-size: 55px;
    line-height: 55px;
  }
}

@media (max-width: 576px) {
  .title {
    margin-top: 53px;
    margin-bottom: 39px;

    font-size: 45px;
    line-height: 45px;
  }
}

@media (max-width: 420px) {
  .title {
    max-width: 100%;

    font-size: 34px;
    line-height: 38px;
  }
}
